* {
    box-sizing: border-box;
}

body, ul, li, h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

#search {
    display: flex;
    padding: 20px 0;
    gap: 5px;
}

#searchInput {
    flex-grow: 1;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}

#searchBtn {
    width: 80px;
    border: 1px solid #eee;
    border-radius: 10px;
}

#movies {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#movies li {
    position:relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
}

#movies li img {
    border-bottom: 1px solid #eee;
    min-height: 450px;
}

#movies li .title {
    padding: 10px 16px;
    font-size: 17px;
}

#movies li .overview {
    position: absolute;
    top: 0;
    color: white;
    display: none;
    padding: 20px;
    line-height: 1.7;
    background: rgba(0,0,0,.7)
}

#movies li .vote_average {
    color: gray;
    padding: 10px 16px;
    margin-top: auto;
}

#movies li .star {
    color: orange;
    line-height: 1;
}

#movies li:hover .overview {
    display: block;
    height: 450px;
}